<div class="sidebar" id="sidebar">
    <div class="top-toc">
        <img src="{{ .Site.Params.profilePicture | absURL }}" alt="profile picture">
        
        <a href="/">{{ .Site.Params.Title }}</a>
    </div>
    

    <div class="footer">
        <ul class="social-links">
            {{ range $item := site.Params.socialIcons }}
            <li>
                <a href="{{ $item.url }}" target="_blank" rel="noopener noreferrer" rel="me" aria-label="{{ $item.title }}">
                    <i class="{{ $item.icon }}" aria-hidden="true"></i>
                </a>
            </li>
            {{ end }}
        </ul>

        <div class="by">by {{ site.Params.author.name }} <b>·</b> {{ now.Format "2006"}}</div>
    </div>
</div>